body {
    background-color: bisque;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    display: flex;
}
.card {
    width: 400px;
    padding: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 5px 4px rgba(0, 0, 0, 0.1);
}